<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Bem vindo</title>
	<link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/findhere.css">
</head>
<body>
	<h3>Página inicial!</h3>
</body>
	<script src="../public/bootstrap/js/jquery.js"></script>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/js/controllers/controller.js"></script>
    <script src="../public/js/banco/ConexaoBanco.js"></script>
    <script src="../public/js/banco/UsuarioDAO.js"></script>
    <script src="../public/js/banco/loginController.js"></script>
    <script src="../public/js/banco/Usuario.js"></script>
    <script src="../public/js/banco/cadastroController.js"></script>
</html>
